<div class="alert alert-info"; style="border-left: 7px solid SteelBlue">
<h5>üéì <font color="SteelBlue">–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Å—Ç—É–¥–µ–Ω—Ç–∞ (—Å–∏–Ω–∏–π)</font></h5>    

–ù–∞–ø–∏—à–∏ –∑–¥–µ—Å—å —Å–≤–æ–∏ –º—ã—Å–ª–∏ –∏ –∏–¥–µ–∏ –ø–æ –ø–æ–≤–æ–¥—É –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è —Ä–µ–≤—å—é–µ—Ä–∞.

</div>

# –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –∏–≥—Ä–æ–≤–æ–π –∏–Ω–¥—É—Å—Ç—Ä–∏–∏ —Å 2000 –ø–æ 2013 –≥–æ–¥

–ê–≤—Ç–æ—Ä: –í—è—á–µ—Å–ª–∞–≤ –ó–∞–π–∫–æ  
–î–∞—Ç–∞: 30.03.2025

### –¶–µ–ª–∏ –∏ –∑–∞–¥–∞—á–∏ –ø—Ä–æ–µ–∫—Ç–∞
–¶–µ–ª—å –ø—Ä–æ–µ–∫—Ç–∞: –∏–∑—É—á–∏—Ç—å —Ä–∞–∑–≤–∏—Ç–∏–µ –∏–≥—Ä–æ–≤–æ–π –∏–Ω–¥—É—Å—Ç—Ä–∏–∏ —Å 2000 –ø–æ 2013 –≥–æ–¥ –¥–ª—è –ø–æ–¥–≥–æ—Ç–æ–≤–∫–∏ —Å—Ç–∞—Ç—å–∏, –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–Ω–æ–π –Ω–∞ –ø—Ä–∏–≤–ª–µ—á–µ–Ω–∏–µ –Ω–æ–≤–æ–π –∞—É–¥–∏—Ç–æ—Ä–∏–∏ –≤ –∏–≥—Ä—É ¬´–°–µ–∫—Ä–µ—Ç—ã –¢–µ–º–Ω–æ–ª–µ—Å—å—è¬ª.

–í —Ö–æ–¥–µ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –ø—Ä–µ–¥—Å—Ç–æ–∏—Ç —Å–¥–µ–ª–∞—Ç—å –æ–±–∑–æ—Ä –∏–≥—Ä–æ–≤—ã—Ö –ø–ª–∞—Ç—Ñ–æ—Ä–º, –∏–∑—É—á–∏—Ç—å –æ–±—ä—ë–º—ã –ø—Ä–æ–¥–∞–∂ –∏–≥—Ä —Ä–∞–∑–Ω—ã—Ö –∂–∞–Ω—Ä–æ–≤ —Å –∞–∫—Ü–µ–Ω—Ç–æ–º –Ω–∞ RPG –∏ —Ä–µ–≥–∏–æ–Ω–∞–ª—å–Ω—ã–µ –ø—Ä–µ–¥–ø–æ—á—Ç–µ–Ω–∏—è –∏–≥—Ä–æ–∫–æ–≤.

### –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

–í –ø—Ä–æ–µ–∫—Ç–µ –∏—Å–ø–æ–ª—å–∑—É—é—Ç—Å—è –∏—Å—Ç–æ—Ä–∏—á–µ—Å–∫–∏–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ –æ—Ç–∫—Ä—ã—Ç—ã—Ö –∏—Å—Ç–æ—á–Ω–∏–∫–æ–≤. –î–∞—Ç–∞—Å–µ—Ç `/datasets/new_games.csv` —Å–æ–¥–µ—Ä–∂–∏—Ç –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –ø—Ä–æ–¥–∞–∂–∞—Ö –∏–≥—Ä —Ä–∞–∑–Ω—ã—Ö –∂–∞–Ω—Ä–æ–≤ –∏ –ø–ª–∞—Ç—Ñ–æ—Ä–º, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –∏ —ç–∫—Å–ø–µ—Ä—Ç–Ω—ã–µ –æ—Ü–µ–Ω–∫–∏ –∏–≥—Ä:

`Name` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–≥—Ä—ã. <br> `Platform` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –ø–ª–∞—Ç—Ñ–æ—Ä–º—ã.  
`Year of Release` ‚Äî –≥–æ–¥ –≤—ã–ø—É—Å–∫–∞ –∏–≥—Ä—ã.  
`Genre` ‚Äî –∂–∞–Ω—Ä –∏–≥—Ä—ã.  
`NA sales` ‚Äî –ø—Ä–æ–¥–∞–∂–∏ –≤ –°–µ–≤–µ—Ä–Ω–æ–π –ê–º–µ—Ä–∏–∫–µ (–≤ –º–∏–ª–ª–∏–æ–Ω–∞—Ö –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∫–æ–ø–∏–π).  
`EU sales` ‚Äî –ø—Ä–æ–¥–∞–∂–∏ –≤ –ï–≤—Ä–æ–ø–µ (–≤ –º–∏–ª–ª–∏–æ–Ω–∞—Ö –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∫–æ–ø–∏–π).  
`JP sales` ‚Äî –ø—Ä–æ–¥–∞–∂–∏ –≤ –Ø–ø–æ–Ω–∏–∏ (–≤ –º–∏–ª–ª–∏–æ–Ω–∞—Ö –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∫–æ–ø–∏–π).  
`Other sales` ‚Äî –ø—Ä–æ–¥–∞–∂–∏ –≤ –¥—Ä—É–≥–∏—Ö —Å—Ç—Ä–∞–Ω–∞—Ö (–≤ –º–∏–ª–ª–∏–æ–Ω–∞—Ö –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∫–æ–ø–∏–π).  
`Critic Score` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫—Ä–∏—Ç–∏–∫–æ–≤ (–æ—Ç 0 –¥–æ 100).  
`User Score` ‚Äî –æ—Ü–µ–Ω–∫–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π (–æ—Ç 0 –¥–æ 10).  
`Rating` ‚Äî —Ä–µ–π—Ç–∏–Ω–≥ –æ—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏–∏ ESRB (–∞–Ω–≥–ª. Entertainment Software Rating Board). –≠—Ç–∞ –∞—Å—Å–æ—Ü–∏–∞—Ü–∏—è –æ–ø—Ä–µ–¥–µ–ª—è–µ—Ç —Ä–µ–π—Ç–∏–Ω–≥ –∫–æ–º–ø—å—é—Ç–µ—Ä–Ω—ã—Ö –∏–≥—Ä –∏ –ø—Ä–∏—Å–≤–∞–∏–≤–∞–µ—Ç –∏–º –ø–æ–¥—Ö–æ–¥—è—â—É—é –≤–æ–∑—Ä–∞—Å—Ç–Ω—É—é –∫–∞—Ç–µ–≥–æ—Ä–∏—é.

## –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö –∏ –∑–Ω–∞–∫–æ–º—Å—Ç–≤–æ —Å –Ω–∏–º–∏
<a id="1-–∑–∞–≥—Ä—É–∑–∫–∞-–¥–∞–Ω–Ω—ã—Ö-–∏-–∑–Ω–∞–∫–æ–º—Å—Ç–≤–æ-—Å-–Ω–∏–º–∏"></a>
–ó–∞–≥—Ä—É–∂–∞–µ–º –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ Python –∏ –¥–∞–Ω–Ω—ã–µ –¥–∞—Ç–∞—Å–µ—Ç–∞ `/datasets/new_games.csv`.

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(pd.read_csv("https://code.s3.yandex.net/datasets/new_games.csv"))

–í—ã–≤–æ–¥–∏–º –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏ –∏ –æ–±—â—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ.

In [3]:
df.head()

,Name,Platform,Year of Release,Genre,NA sales,EU sales,JP sales,Other sales,Critic Score,User Score,Rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN

In [4]:
df.info()
initial_num_of_rows = df.shape[0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16956 entries, 0 to 16955
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16954 non-null  object
 1   Platform         16956 non-null  object
 2   Year of Release  16681 non-null  float64
 3   Genre            16954 non-null  object
 4   NA sales         16956 non-null  float64
 5   EU sales         16956 non-null  object
 6   JP sales         16956 non-null  object
 7   Other sales      16956 non-null  float64
 8   Critic Score     8242 non-null   float64
 9   User Score       10152 non-null  object
 10  Rating           10085 non-null  object
dtypes: float64(4), object(7)
memory usage: 1.4+ MB

<div class="alert alert-success"; style="border-left: 7px solid green">
<h5> ‚úîÔ∏è <font color="green">–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ (–∑–µ–ª–µ–Ω—ã–π)</font></h5>

–°–ø–∞—Å–∏–±–æ, –≤–µ—Ä–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω—ã –º–µ—Ç–æ–¥—ã `.info()` –∏ `.head()`

</div>

–ò—Å—Å–ª–µ–¥—É–µ–º—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å–æ—Å—Ç–æ–∏—Ç –∏–∑ 16956 —Å—Ç—Ä–æ–∫ –∏ 11 —Å—Ç–æ–ª–±—Ü–æ–≤, –Ω–∞–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–æ–∫ –∏ –∑–Ω–∞—á–µ–Ω–∏—è –≤ –Ω–∏—Ö —Å–æ–æ—Ç–≤–µ—Ç–≤—É—é—Ç –æ–ø–∏—Å–∞–Ω–∏—é. –í 6 –∏–∑ 11 —Å—Ç–æ–ª–±—Ü–æ–≤ –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è –ø—Ä–æ–ø—É—Å–∫–∏, –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∏—Ö –≤ –∫–æ–ª–æ–Ω–∫–∞—Ö —Å –æ—Ü–µ–Ω–∫–∞–º–∏ –∏–≥—Ä—ã –∏ –µ–µ —Ä–µ–π—Ç–∏–Ω–≥–æ–º –æ—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏–∏ ESRB.

–¢–µ–∫—Å—Ç–æ–≤—ã–µ –¥–∞–Ω–Ω—ã–µ –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö `Name`, `Platform`, `Genre`, `Rating` –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã —Ç–∏–ø–æ–º `object`. –ê –¥–∞–Ω–Ω—ã–µ –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö `EU sales`, `JP sales` –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞—Ç—å –≤ —á–∏—Å–ª–æ–≤–æ–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞. –î–∞–Ω–Ω—ã–µ –≤ —Å—Ç–æ–ª–±—Ü–µ `Year of Release` —Ä–µ–∫–æ–º–µ–Ω–¥—É–µ—Ç—Å—è –ø—Ä–∏–≤–µ—Å—Ç–∏ –∫ —Ü–µ–ª–æ—á–µ—Å–ª–µ–Ω–Ω–æ–º—É —Ç–∏–ø—É –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞ –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏—è.

---

## –ü—Ä–æ–≤–µ—Ä–∫–∞ –æ—à–∏–±–æ–∫ –≤ –¥–∞–Ω–Ω—ã—Ö –∏ –∏—Ö –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞


### –ù–∞–∑–≤–∞–Ω–∏—è —Å—Ç–æ–ª–±—Ü–æ–≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞

–í—ã–≤–æ–¥–∏–º –Ω–∞ —ç–∫—Ä–∞–Ω –Ω–∞–∑–≤–∞–Ω–∏—è –≤—Å–µ—Ö —Å—Ç–æ–ª–±—Ü–æ–≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞.

In [5]:
print(", ".join(df.columns))

Name, Platform, Year of Release, Genre, NA sales, EU sales, JP sales, Other sales, Critic Score, User Score, Rating

–ü—Ä–∏–≤–æ–¥–∏–º –≤—Å–µ —Å—Ç–æ–ª–±—Ü—ã –∫ —Å—Ç–∏–ª—é snake case –∏ –≤—ã–≤–æ–¥–∏–º –Ω–æ–≤—ã–µ –Ω–∞–∑–≤–∞–Ω–∏—è —Å—Ç–æ–ª–±—Ü–æ–≤.

In [6]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
print(", ".join(df.columns))

name, platform, year_of_release, genre, na_sales, eu_sales, jp_sales, other_sales, critic_score, user_score, rating

<div class="alert alert-success"; style="border-left: 7px solid green">
<h5> ‚úîÔ∏è <font color="green">–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ (–∑–µ–ª–µ–Ω—ã–π)</font></h5>

–•–æ—Ä–æ—à–æ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω—ã –Ω–∞–∑–≤–∞–Ω–∏—è —Å—Ç–æ–ª–±—Ü–æ–≤ –∫—Ä–∞—Å–∏–≤—ã–º –º–µ—Ç–æ–¥–æ–º üòÉ

</div>

### –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö

–ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –¥–∞–Ω–Ω—ã–µ –∏–∑ —Å—Ç–æ–ª–±—Ü–æ–≤ `eu_sales`, `jp_sales` –≤ —á–∏—Å–ª–æ–≤–æ–π —Ç–∏–ø. –í—ã–≤–æ–¥–∏–º –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ —Ç–∏–ø–∞—Ö –¥–∞–Ω–Ω—ã—Ö –∫–∞–∂–¥–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞.

In [7]:
df[['eu_sales', 'jp_sales']] = df[['eu_sales', 'jp_sales']].apply(pd.to_numeric, errors='coerce')
df.dtypes

name                object
platform            object
year_of_release    float64
genre               object
na_sales           float64
eu_sales           float64
jp_sales           float64
other_sales        float64
critic_score       float64
user_score          object
rating              object
dtype: object

<div class="alert alert-success"; style="border-left: 7px solid green">
<h5> ‚úîÔ∏è <font color="green">–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ (–∑–µ–ª–µ–Ω—ã–π)</font></h5>

–°–ø–∞—Å–∏–±–æ, –ø—Ä–∞–≤–∏–ª—å–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω –º–µ—Ç–æ–¥ `pd.to_numeric(errors='coerce')`

</div>

### –ù–∞–ª–∏—á–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –¥–∞–Ω–Ω—ã—Ö

–ü–æ—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –∫–∞–∂–¥–æ–º —Å—Ç–æ–ª–±—Ü–µ –≤ –∞–±—Å–æ–ª—é—Ç–Ω—ã—Ö –∏ –æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏—è—Ö.

In [8]:
missing_values = pd.DataFrame({
    'number_of_missing_values': df.isnull().sum(),
    'percentage_of_missing_values(%)': (df.isnull().mean() * 100).round(2)
})

missing_values.sort_values(by='percentage_of_missing_values(%)', ascending=False)

                 number_of_missing_values  percentage_of_missing_values(%)
critic_score                         8714                            51.39
rating                               6871                            40.52
user_score                           6804                            40.13
year_of_release                       275                             1.62
eu_sales                                6                             0.04
jp_sales                                4                             0.02
name                                    2                             0.01
genre                                   2                             0.01
platform                                0                             0.00
na_sales                                0                             0.00
other_sales                             0                             0.00

<div class="alert alert-success"; style="border-left: 7px solid green">
<h5> ‚úîÔ∏è <font color="green">–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ (–∑–µ–ª–µ–Ω—ã–π)</font></h5>

–•–æ—Ä–æ—à–æ, —á—Ç–æ –∏–∑—É—á–µ–Ω–æ —Å–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö, —ç—Ç–æ –æ—Ç–ª–∏—á–Ω–∞—è –ø—Ä–∞–∫—Ç–∏–∫–∞ üëç

</div>

–ú–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –Ω–∞–±–ª—é–¥–∞–µ—Ç—Å—è –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö `user_score`, `critic_score` –∏ `rating`. –ú–æ–∂–Ω–æ –ø—Ä–µ–¥–ø–æ–ª–æ–∂–∏—Ç—å, —á—Ç–æ –¥–ª—è –∏–≥—Ä —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏ –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö —Å –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–º —Ä–µ–π—Ç–∏–Ω–≥–æ–º –∏ —Å —Ä–µ–π—Ç–∏–Ω–≥–æ–º –∫—Ä–∏—Ç–∏–∫–æ–≤ –Ω–µ –±—ã–ª –æ–ø—Ä–µ–¥–µ–ª–µ–Ω –¥–æ—Å—Ç–æ–≤–µ—Ä–Ω—ã–π –∏—Å—Ç–æ—á–Ω–∏–∫ –¥–∞–Ω–Ω—ã—Ö, –ª–∏–±–æ —Ä–µ–π—Ç–∏–Ω–≥ –æ—Ç—Å—É—Ç—Å—Ç–≤—É–µ—Ç –≤ —Å–≤—è–∑–∏ —Å –Ω–∏–∑–∫–æ–π –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å—é —ç—Ç–∏—Ö –∏–≥—Ä.

–ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏—Ç–µ–ª—å–Ω—ã–µ –ø—Ä–∏—á–∏–Ω—ã –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ —Å–æ–ª–±—Ü–µ —Å —Ä–µ–π—Ç–∏–Ω–≥–æ–º ESRB: 

- –ò–≥—Ä–∞ –≤—ã—à–ª–∞ —Ç–æ–ª—å–∫–æ –≤ —Ü–∏—Ñ—Ä–æ–≤–æ–º —Ñ–æ—Ä–º–∞—Ç–µ –ª–∏–±–æ –æ–Ω–∞ —Ä–∞—Å–ø—Ä–æ—Å—Ç—Ä–∞–Ω—è–µ—Ç—Å—è –≤–Ω–µ –æ—Ñ–∏—Ü–∏–∞–ª—å–Ω—ã—Ö –ø–ª–∞—Ç—Ñ–æ—Ä–º, –ø–æ—ç—Ç–æ–º—É —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–∏ –º–æ–≥–ª–∏ –Ω–µ –ø–æ–¥–∞–≤–∞—Ç—å –µ—ë –Ω–∞ —Ä–µ–π—Ç–∏–Ω–≥.
- –ò–≥—Ä–∞ –Ω–µ –ø—Ä–µ–¥–Ω–∞–∑–Ω–∞—á–µ–Ω–∞ –¥–ª—è –ø—Ä–æ–¥–∞–∂–∏ –≤ –°–µ–≤–µ—Ä–Ω–æ–π –ê–º–µ—Ä–∏–∫–µ. ESRB ‚Äî —ç—Ç–æ –∞–º–µ—Ä–∏–∫–∞–Ω—Å–∫–∞—è —Å–∏—Å—Ç–µ–º–∞ —Ä–µ–π—Ç–∏–Ω–≥–æ–≤. –ï—Å–ª–∏ –∏–≥—Ä–∞ –∏–∑–¥–∞—ë—Ç—Å—è —Ç–æ–ª—å–∫–æ –≤ –¥—Ä—É–≥–∏—Ö —Å—Ç—Ä–∞–Ω–∞—Ö, —É –Ω–µ—ë –Ω–µ –±—É–¥–µ—Ç —Ä–µ–π—Ç–∏–Ω–≥–∞ ESRB.
- –ò–≥—Ä–∞ –±–µ—Å–ø–ª–∞—Ç–Ω–∞—è –∏–ª–∏ –Ω–µ–∫–æ–º–º–µ—Ä—á–µ—Å–∫–∞—è. –ù–µ–∫–æ—Ç–æ—Ä—ã–µ –±–µ—Å–ø–ª–∞—Ç–Ω—ã–µ, —Ñ–∞–Ω–∞—Ç—Å–∫–∏–µ –∏–ª–∏ –æ–±—Ä–∞–∑–æ–≤–∞—Ç–µ–ª—å–Ω—ã–µ –∏–≥—Ä—ã –Ω–µ –ø—Ä–æ—Ö–æ–¥—è—Ç –æ—Ñ–∏—Ü–∏–∞–ª—å–Ω—É—é –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏—é, —Ç–∞–∫ –∫–∞–∫ –Ω–µ —Ç—Ä–µ–±—É—é—Ç –µ—ë –¥–ª—è —Ä–∞—Å–ø—Ä–æ—Å—Ç—Ä–∞–Ω–µ–Ω–∏—è.

### –û–±—Ä–∞–±–æ—Ç–∫–∞ –ø—Ä–æ–ø—É—Å–∫–æ–≤

–ü–µ—Ä–µ–¥ –æ–±—Ä–∞–±–æ—Ç–∫–æ–π –ø—Ä–æ–ø—É—Å–∫–æ–≤ –æ–∑–Ω–∞–∫–æ–º–∏–º—Å—è —Å —É–Ω–∏–∫–∞–ª—å–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö `critic_score, user_score, rating`.

In [9]:
df['critic_score'].unique()

array([76., nan, 82., 80., 89., 58., 87., 91., 61., 97., 95., 77., 88.,
       83., 94., 93., 85., 86., 98., 96., 90., 84., 73., 74., 78., 92.,
       71., 72., 68., 62., 49., 67., 81., 66., 56., 79., 70., 59., 64.,
       75., 60., 63., 69., 50., 25., 42., 44., 55., 48., 57., 29., 47.,
       65., 54., 20., 53., 37., 38., 33., 52., 30., 32., 43., 45., 51.,
       40., 46., 39., 34., 35., 41., 36., 28., 31., 27., 26., 19., 23.,
       24., 21., 17., 22., 13.])

In [10]:
df['user_score'].unique()

array(['8', nan, '8.3', '8.5', '6.6', '8.4', '8.6', '7.7', '6.3', '7.4',
       '8.2', '9', '7.9', '8.1', '8.7', '7.1', '3.4', '5.3', '4.8', '3.2',
       '8.9', '6.4', '7.8', '7.5', '2.6', '7.2', '9.2', '7', '7.3', '4.3',
       '7.6', '5.7', '5', '9.1', '6.5', 'tbd', '8.8', '6.9', '9.4', '6.8',
       '6.1', '6.7', '5.4', '4', '4.9', '4.5', '9.3', '6.2', '4.2', '6',
       '3.7', '4.1', '5.8', '5.6', '5.5', '4.4', '4.6', '5.9', '3.9',
       '3.1', '2.9', '5.2', '3.3', '4.7', '5.1', '3.5', '2.5', '1.9', '3',
       '2.7', '2.2', '2', '9.5', '2.1', '3.6', '2.8', '1.8', '3.8', '0',
       '1.6', '9.6', '2.4', '1.7', '1.1', '0.3', '1.5', '0.7', '1.2',
       '2.3', '0.5', '1.3', '0.2', '0.6', '1.4', '0.9', '1', '9.7'],
      dtype=object)

In [11]:
df['rating'].unique()

array(['E', nan, 'M', 'T', 'E10+', 'K-A', 'AO', 'EC', 'RP'], dtype=object)

–ü–æ–º–∏–º–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–µ —Å –æ—Ü–µ–Ω–∫–æ–π –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –∑–Ω–∞—á–µ–Ω–∏–µ `tbd` (–∞–Ω–≥–ª. "To Be Determined" ‚Äî ¬´–ø–æ–¥–ª–µ–∂–∏—Ç —É—Ç–æ—á–Ω–µ–Ω–∏—é¬ª). –ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏–º, —á—Ç–æ —ç—Ç–æ —É–∫–∞–∑—ã–≤–∞–µ—Ç –Ω–∞ –Ω–µ–¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ç–∑—ã–≤–æ–≤ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∏ —ç–∫–≤–∏–≤–∞–ª–µ–Ω—Ç–Ω–æ –ø—Ä–æ–ø—É—Å–∫—É –≤ –¥–∞–Ω–Ω–æ–º –∫–æ–Ω—Ç–µ–∫—Å—Ç–µ.

–ó–∞–º–µ–Ω–∏–º –ø—Ä–æ–ø—É—Å–∫–∏ –≤–æ –≤—Å–µ—Ö —Ç—Ä–µ—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö –∑–Ω–∞—á–µ–Ω–∏–µ–º-–∏–Ω–¥–∏–∫–∞—Ç–æ—Ä–æ–º `tbd`. –ø—Ä–∏ –¥–∞–ª—å–Ω–µ–π—à–µ–º –∞–Ω–∞–ª–∏–∑–µ –≤—ã–¥–µ–ª–∏–º –∏–≥—Ä—ã —Å —ç—Ç–∏–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –≤ –æ—Ç–¥–µ–ª—å–Ω—É—é –∫–∞—Ç–µ–≥–æ—Ä–∏—é.

In [12]:
df[['rating', 'user_score', 'critic_score']] = df[['rating', 'user_score', 'critic_score']].fillna("tbd")

–í –∫–æ–ª–æ–Ω–∫–µ `year_of_release` –∑–∞–º–µ–Ω–∏–º –ø—Ä–æ–ø—É—Å–∫–∏ –∑–Ω–∞—á–µ–Ω–∏–µ–º-–∏–Ω–¥–∏–∫–∞—Ç–æ—Ä–æ–º `0` –∏ –∏–∑–º–µ–Ω–∏–º —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –≤ —Å—Ç–æ–ª–±—Ü–µ –Ω–∞ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–π.

In [13]:
df['year_of_release'] = df['year_of_release'].fillna(0).astype(int)

–ü—Ä–æ–ø—É—Å–∫–∏ –≤ –¥–∞–Ω–Ω—ã—Ö —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∫–æ–ø–∏–π –∏–≥—Ä—ã –≤ –ï–≤—Ä–æ–ø–µ –∏ –Ø–ø–æ–Ω–∏–∏ –∏–∑ —Å—Ç–æ–ª–±—Ü–æ–≤ `eu_sales` –∏ `jp_sales` –∑–∞–º–µ–Ω–∏–º –Ω–∞ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –Ω–∞–∑–≤–∞–Ω–∏—è –ø–ª–∞—Ç—Ñ–æ—Ä–º—ã –∏ –≥–æ–¥–∞ –≤—ã—Ö–æ–¥–∞ –∏–≥—Ä—ã.

In [14]:
# –°–æ–∑–¥–∞–¥–∏–º —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è –ø—Ä–æ–≤–µ—Ä—è–µ—Ç –Ω–∞–ª–∏—á–∏–µ –ø—Ä–æ–ø—É—Å–∫–∞ –≤ –¥–∞–Ω–Ω—ã—Ö –æ –ø—Ä–æ–¥–∞–∂–∞—Ö.
def mean_group_eu_sales (row): 
    if pd.isna(row['eu_sales']):
        # –ï—Å–ª–∏ –ø—Ä–æ–ø—É—Å–∫ –µ—Å—Ç—å ‚Äî —Ñ—É–Ω–∫—Ü–∏—è —Å–æ–∑–¥–∞–µ—Ç –≥—Ä—É–ø–ø—É –ø–æ –Ω–∞–∑–≤–∞–Ω–∏—é –ø–ª–∞—Ç—Ñ–æ—Ä–º—ã –∏ –≥–æ–¥—É –≤—ã–ø—É—Å–∫–∞ –∏–≥—Ä.
        group = df[(df['platform'] == row['platform']) & (df['year_of_release'] == row['year_of_release'])]
        # –ó–∞—Ç–µ–º –≤–º–µ—Å—Ç–æ –ø—Ä–æ–ø—É—Å–∫–∞ —Ñ—É–Ω–∫—Ü–∏—è –ø–æ–¥—Å—Ç–∞–≤–ª—è–µ—Ç —Å—Ä–µ–¥–Ω–µ–µ –ø–æ –≥—Ä—É–ø–ø–µ –∑–Ω–∞—á–µ–Ω–∏–µ. 
        return group['eu_sales'].mean()
    else:
        # –ï—Å–ª–∏ –ø—Ä–æ–ø—É—Å–∫–∞ –Ω–µ—Ç, —Ñ—É–Ω–∫—Ü–∏—è –æ—Å—Ç–∞–≤–ª—è–µ—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø—Ä–æ–¥–∞–∂–∞—Ö –±–µ–∑ –∏–∑–º–µ–Ω–µ–Ω–∏–π.
        return row['eu_sales']
        
def mean_group_jp_sales (row):
    if pd.isna(row['jp_sales']):
        group = df[(df['platform'] == row['platform']) & (df['year_of_release'] == row['year_of_release'])]
        return group['jp_sales'].mean()
    else:
        return row['jp_sales']
        
# –ü—Ä–∏–º–µ–Ω–∏–º —Ñ—É–Ω–∫—Ü–∏—é –∫ –∏–Ω—Ç–µ—Ä–µ—Å—É—é—â–∏–º —Å—Ç–æ–ª–±—Ü–∞–º –≤ –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–µ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞.
df['eu_sales'] = df.apply(mean_group_eu_sales, axis=1)
df['jp_sales'] = df.apply(mean_group_jp_sales, axis=1)

<div class="alert alert-success"; style="border-left: 7px solid green">
<h5> ‚úîÔ∏è <font color="green">–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ (–∑–µ–ª–µ–Ω—ã–π)</font></h5>

–•–æ—Ä–æ—à–æ, —á—Ç–æ –ø—Ä–æ–ø—É—Å–∫–∏ –∑–∞–ø–æ–ª–Ω–µ–Ω—ã —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏, —Ç—É—Ç –º–æ–∂–Ω–æ –±—ã–ª–æ –ø—Ä–∏–º–µ–Ω–∏—Ç—å –º–µ—Ç–æ–¥ [transform](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.transform.html), –Ω–∏–∂–µ –ø–æ–∫–∞–∑–∞–ª.

</div>

In [35]:
# –ö–æ–¥ —Ä–µ–≤—å—é–µ—Ä–∞

df['jp_sales'] = df['jp_sales']\
    .fillna(df.groupby(['platform', 'year_of_release'])['jp_sales'].transform('mean'))

<div class="alert alert-info"; style="border-left: 7px solid SteelBlue">
<h5>üéì <font color="SteelBlue">–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Å—Ç—É–¥–µ–Ω—Ç–∞ (—Å–∏–Ω–∏–π)</font></h5>    
–í–æ–∑—å–º—É –º–µ—Ç–æ–¥ –Ω–∞ –≤–æ–æ—Ä—É–∂–µ–Ω–∏–µ. –°—Ç—Ä–∞–Ω–Ω–æ, —á—Ç–æ –µ–≥–æ –Ω–µ –±—ã–ª–æ –≤ –º–∞—Ç–µ—Ä–∏–∞–ª–µ –∫—É—Ä—Å–∞.

</div>

–£–¥–∞–ª–∏–º –∏–∑ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ —Å—Ç—Ä–æ–∫–∏ —Å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–º–∏ –Ω–∞–∑–≤–∞–Ω–∏—è–º–∏ –∏–≥—Ä –∏ –∂–∞–Ω—Ä–∞–º–∏.

In [16]:
df = df.dropna(subset=['name', 'genre'])

–î–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞ —Ä–∞–±–æ—Ç—ã —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏ –≤—ã–≤–µ–¥–∏–º –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ–± –æ–±—Ä–∞–±–æ—Ç–∞–Ω–Ω–æ–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ.

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16954 entries, 0 to 16955
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16954 non-null  object
 1   platform         16954 non-null  object
 2   year_of_release  16954 non-null  int64
 3   genre            16954 non-null  object
 4   na_sales         16954 non-null  float64
 5   eu_sales         16954 non-null  float64
 6   jp_sales         16954 non-null  float64
 7   other_sales      16954 non-null  float64
 8   critic_score     16954 non-null  object
 9   user_score       16954 non-null  object
 10  rating           16954 non-null  object
dtypes: float64(4), int64(1), object(6)
memory usage: 1.6+ MB

### –Ø–≤–Ω—ã–µ –∏ –Ω–µ—è–≤–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã –≤ –¥–∞–Ω–Ω—ã—Ö

–ü—Ä–æ–≤–µ—Ä–∏–º –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –Ω–∞ –Ω–∞–ª–∏—á–∏–µ –Ω–µ—è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤, —Å–≤—è–∑–∞–Ω–Ω—ã—Ö —Å –æ–ø–µ—á–∞—Ç–∫–∞–º–∏ –∏–ª–∏ —Ä–∞–∑–Ω—ã–º —Å–ø–æ—Å–æ–±–æ–º –Ω–∞–ø–∏—Å–∞–Ω–∏—è. –ü–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ –≤—ã–≤–µ–¥–µ–º —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏–∏—è –∏–∑ —Å—Ç–æ–ª–±—Ü–æ–≤ —Å –Ω–∞–∑–≤–∞–Ω–∏—è–º–∏ –∂–∞–Ω—Ä–∞ –∏–≥—Ä—ã, –ø–ª–∞—Ç—Ñ–æ—Ä–º—ã, —Ä–µ–π—Ç–∏–Ω–≥–∞ –∏ –≥–æ–¥–∞ –≤—ã–ø—É—Å–∫–∞.

In [18]:
df['genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy', 'MISC', 'ROLE-PLAYING', 'RACING', 'ACTION', 'SHOOTER',
       'FIGHTING', 'SPORTS', 'PLATFORM', 'ADVENTURE', 'SIMULATION',
       'PUZZLE', 'STRATEGY'], dtype=object)

In [19]:
df['platform'].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       'PS4', '3DS', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne',
       'WiiU', 'GC', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [20]:
df['rating'].unique()

array(['E', 'tbd', 'M', 'T', 'E10+', 'K-A', 'AO', 'EC', 'RP'],
      dtype=object)

In [21]:
 df['year_of_release'].unique()

array([2006, 1985, 2008, 2009, 1996, 1989, 1984, 2005, 1999, 2007, 2010,
       2013, 2004, 1990, 1988, 2002, 2001, 2011, 1998, 2015, 2012, 2014,
       1992, 1997, 1993, 1994, 1982, 2016, 2003, 1986, 2000,    0, 1995,
       1991, 1981, 1987, 1980, 1983])

–ê–Ω–∞–ª–∏–∑ –ø–æ–∫–∞–∑–∞–ª –Ω–∞–ª–∏—á–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–µ `genre`, —Å–≤—è–∑–∞–Ω–Ω—ã—Ö —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º —Ä–∞–∑–Ω–æ–≥–æ —Ä–µ–≥–∏—Å—Ç—Ä–∞ –≤ –Ω–∞–∑–≤–∞–Ω–∏–∏ –∂–∞–Ω—Ä–∞ –∏–≥—Ä—ã. –ó–∞–ø–∏—Å–∏, –∫–æ—Ç–æ—Ä—ã–µ –æ–∑–Ω–∞—á–∞—é—Ç –æ–¥–Ω–æ –∏ —Ç–æ–∂–µ, –Ω–æ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã –≤ —Ä–∞–∑–Ω–æ–π —Ñ–æ—Ä–º–µ ‚Äî —ç—Ç–æ –Ω–µ—è–≤–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã.

–ü—Ä–æ–≤–µ–¥–µ–º –Ω–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—é –¥–∞–Ω–Ω—ã—Ö —Å —Ç–µ–∫—Å—Ç–æ–≤—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏. –ù–∞–∑–≤–∞–Ω–∏—è –∏ –∂–∞–Ω—Ä—ã –∏–≥—Ä –ø—Ä–∏–≤–µ–¥–µ–º –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É, –∞ –Ω–∞–∑–≤–∞–Ω–∏—è —Ä–µ–π—Ç–∏–Ω–≥–∞ ‚Äî –∫ –≤–µ—Ä—Ö–Ω–µ–º—É. –£–¥–∞–ª–∏–º –ª–∏—à–Ω–∏–µ –ø—Ä–æ–±–µ–ª—ã –∏–∑ –Ω–∞–∑–≤–∞–Ω–∏–π –∏–≥—Ä. –≠—Ç–∏ —à–∞–≥–∏ –Ω—É–∂–Ω—ã, —á—Ç–æ–±—ã –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞—Ç—å –Ω–µ—è–≤–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã –≤ —è–≤–Ω—ã–µ –¥–ª—è –∏—Ö –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ —É—Å—Ç—Ä–∞–Ω–µ–Ω–∏—è.

In [22]:
df['name'] = df['name'].str.lower()
df['genre'] = df['genre'].str.lower()
df['rating'] = df['rating'].str.upper()
df['name'] = df['name'].str.strip()

<div class="alert alert-success"; style="border-left: 7px solid green">
<h5> ‚úîÔ∏è <font color="green">–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ (–∑–µ–ª–µ–Ω—ã–π)</font></h5>

–°—É–ø–µ—Ä, –≤–µ—Ä–Ω–æ –Ω–æ—Ä–º–∞–ª–∏–∑–æ–≤–∞–Ω—ã –¥–∞–Ω–Ω—ã–µ.

</div>

–ü—Ä–æ–≤–µ—Ä–∏–º –Ω–∞–ª–∏—á–∏–µ —è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤, —Ç–æ –µ—Å—Ç—å —Å—Ç—Ä–æ–∫ —Å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏ –≤–æ –≤—Å–µ—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö. –í—ã–≤–µ–¥–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ç–∞–∫–∏—Ö —Å—Ç—Ä–æ–∫, –∞ –∑–∞—Ç–µ–º —É–¥–∞–ª–∏–º –∏—Ö –∏–∑ –¥–∞—Ç–∞—Å–µ—Ç–∞.

In [23]:
explicit_duplicates = df.duplicated(subset=None, keep='first').sum()
explicit_duplicates

np.int64(241)

<div class="alert alert-success"; style="border-left: 7px solid green">
<h5> ‚úîÔ∏è <font color="green">–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ (–∑–µ–ª–µ–Ω—ã–π)</font></h5>

–°–ø–∞—Å–∏–±–æ, –ø—Ä–æ–≤–µ—Ä–µ–Ω–æ –Ω–∞–ª–∏—á–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤.

</div>

In [24]:
df = df.drop_duplicates(subset=None, keep='first')

–ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏–º, —á—Ç–æ —Å—Ç—Ä–æ–∫–∏ —Å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º –Ω–∞–∑–≤–∞–Ω–∏–µ–º –∏–≥—Ä—ã –∏ –ø–ª–∞—Ç—Ñ–æ—Ä–º—ã —Ç–∞–∫–∂–µ —è–≤–ª—è—é—Ç—Å—è –Ω–µ—è–≤–Ω—ã–º–∏ –¥—É–±–ª–∏–∫–∞—Ç–∞–º–∏. –ü—Ä–æ–≤–µ—Ä–∏–º –∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∏ —É–¥–∞–ª–∏–º –∏–∑ –¥–∞—Ç–∞—Å–µ—Ç–∞.

In [25]:
implicit_duplicates = df.duplicated(['name', 'platform']).sum()
implicit_duplicates

np.int64(4)

In [26]:
df = df.drop_duplicates(subset=['name', 'platform'], keep='first')

–í —Ö–æ–¥–µ —Ä–∞–±–æ—Ç—ã —Å –¥—É–±–ª–∏–∫–∞—Ç–∞–º–∏ –º—ã –ø—Ä–∏–≤–µ–ª–∏ –∫ –µ–¥–∏–Ω–æ–º—É —Ñ–æ—Ä–º–∞—Ç—É –Ω–∞–∑–≤–∞–Ω–∏—è –∏–≥—Ä, –∂–∞–Ω—Ä—ã –∏ —Ä–µ–π—Ç–∏–Ω–≥ ESRB. –û–±–Ω–∞—Ä—É–∂–∏–ª–∏ 241 —Å—Ç—Ä–æ–∫—É —Å —è–≤–Ω—ã–º–∏ –¥—É–±–ª–∏–∫–∞—Ç–∞–º–∏ –∏ 4 —Å—Ç—Ä–æ–∫–∏ —Å –Ω–µ—è–≤–Ω—ã–º–∏.

–í –ø—Ä–æ—Ü–µ—Å—Å–µ –ø–æ–¥–≥–æ—Ç–æ–≤–∫–∏ –¥–∞–Ω–Ω—ã—Ö –±—ã–ª–∏ —É–¥–∞–ª–µ–Ω—ã –ø—Ä–æ–ø—É—Å–∫–∏ –∏ –¥—É–±–ª–∏–∫–∞—Ç—ã. –†–∞—Å—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–¥–∞–ª—ë–Ω–Ω—ã—Ö —Å—Ç—Ä–æ–∫ –≤ –∞–±—Å–æ–ª—é—Ç–Ω–æ–º –∏ –æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω–æ–º –∑–Ω–∞—á–µ–Ω–∏—è—Ö.

In [27]:
final_num_of_rows = df.shape[0]
rows_delta = initial_num_of_rows - final_num_of_rows
final_num_of_rows_share = round((rows_delta / initial_num_of_rows) * 100, 2)
print(f'–û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–¥–∞–ª–µ–Ω–Ω—ã—Ö —Å—Ç—Ä–æ–∫: {rows_delta}')
print(f'–î–æ–ª—è —É–¥–∞–ª–µ–Ω–Ω—ã—Ö —Å—Ç—Ä–æ–∫ –æ—Ç –ø–µ—Ä–≤–æ–Ω–∞—á–∞–ª—å–Ω–æ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞: {final_num_of_rows_share}%')

–û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–¥–∞–ª–µ–Ω–Ω—ã—Ö —Å—Ç—Ä–æ–∫: 247
–î–æ–ª—è —É–¥–∞–ª–µ–Ω–Ω—ã—Ö —Å—Ç—Ä–æ–∫ –æ—Ç –ø–µ—Ä–≤–æ–Ω–∞—á–∞–ª—å–Ω–æ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞: 1.46%

<div class="alert alert-success"; style="border-left: 7px solid green">
<h5> ‚úîÔ∏è <font color="green">–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ (–∑–µ–ª–µ–Ω—ã–π)</font></h5>

–•–æ—Ä–æ—à–æ, —á—Ç–æ –±—ã–ª–æ –∏–∑—É—á–µ–Ω–æ —Ç–æ, —Å–∫–æ–ª—å–∫–æ –¥–∞–Ω–Ω—ã—Ö —É–ø—É—â–µ–Ω–æ.

</div>

### –û–±—â–∏–π –ø—Ä–æ–º–µ–∂—É—Ç–æ—á–Ω—ã–π –≤—ã–≤–æ–¥ –ø–æ –∏—Ç–æ–≥–∞–º –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∏ –¥–∞–Ω–Ω—ã—Ö

- –ó–∞–ø–æ–ª–Ω–µ–Ω—ã –ø—Ä–æ–ø—É—Å–∫–∏ –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö `rating`, `user_score` –∏ `critic_score` –∑–Ω–∞—á–µ–Ω–∏–µ–º-–∏–Ω–¥–∏–∫–∞—Ç–æ—Ä–æ–º "not specified" (–¥–ª—è –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö).
–ü—Ä–æ–ø—É—Å–∫–∏ –≤ year_of_release –∑–∞–º–µ–Ω–µ–Ω—ã –Ω–∞ 0 —Å –ø—Ä–∏–≤–µ–¥–µ–Ω–∏–µ–º —Ç–∏–ø–∞ –∫ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω–æ–º—É.
–ü—Ä–æ–ø—É—Å–∫–∏ –≤ –ø—Ä–æ–¥–∞–∂–∞—Ö (`eu_sales`, `jp_sales`) –∑–∞–ø–æ–ª–Ω–µ–Ω—ã —Å—Ä–µ–¥–Ω–∏–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –ø–æ –≥—Ä—É–ø–ø–∞–º (–ø–ª–∞—Ç—Ñ–æ—Ä–º–∞ + –≥–æ–¥ –≤—ã–ø—É—Å–∫–∞).
–£–¥–∞–ª–µ–Ω—ã —Å—Ç—Ä–æ–∫–∏ —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏ –≤ –Ω–∞–∑–≤–∞–Ω–∏—è—Ö –∏–≥—Ä (name) –∏ –∂–∞–Ω—Ä–∞—Ö (genre), —á—Ç–æ —Å–æ—Å—Ç–∞–≤–∏–ª–æ 1.46% –æ—Ç –∏—Å—Ö–æ–¥–Ω–æ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞.

- –£—Å—Ç—Ä–∞–Ω–µ–Ω—ã 241 —è–≤–Ω—ã–π –∏ 4 –Ω–µ—è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–∞ (–ø–æ –ø–∞—Ä–∞–º `name` + `platform`).
–ü—Ä–æ–≤–µ–¥–µ–Ω–∞ –Ω–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è —Ç–µ–∫—Å—Ç–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö: –ø—Ä–∏–≤–µ–¥–µ–Ω–∏–µ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É –¥–ª—è `name` –∏ `genre`, –∫ –≤–µ—Ä—Ö–Ω–µ–º—É ‚Äî –¥–ª—è `rating`.

- –°—Ç–æ–ª–±—Ü—ã `eu_sales`, `jp_sales` –∏ `user_score` –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω—ã –≤ —á–∏—Å–ª–æ–≤–æ–π —Ç–∏–ø `float`. –î–∞–Ω–Ω—ã–µ –≤ –æ—Å—Ç–∞–ª—å–Ω—ã—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—Ç –æ–∂–∏–¥–∞–µ–º—ã–º —Ç–∏–ø–∞–º.

- –î–∞—Ç–∞—Ñ—Ä–µ–π–º –ø–æ–¥–≥–æ—Ç–æ–≤–ª–µ–Ω –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞. –ò–∑ 16 956 –∏–∑–Ω–∞—á–∞–ª—å–Ω—ã—Ö —Å—Ç—Ä–æ–∫ —Å–æ—Ö—Ä–∞–Ω–µ–Ω–æ 16 954 —Å—Ç—Ä–æ–∫–∏.

<div class="alert alert-success"; style="border-left: 7px solid green">
<h5> ‚úîÔ∏è <font color="green">–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ (–∑–µ–ª–µ–Ω—ã–π)</font></h5>

–û—á–µ–Ω—å —Ö–æ—Ä–æ—à–æ, —á—Ç–æ —Ç–æ–±–æ—é —Ç–∞–∫ –¥–µ—Ç–∞–ª—å–Ω–æ –∏ –∫—Ä–æ–ø–æ—Ç–ª–∏–≤–æ –±—ã–ª–∏ –æ—Ü–µ–Ω–µ–Ω—ã –ø–æ—Ç–µ—Ä–∏ –∏ –ø—Ä–∏–Ω—è—Ç–æ –ø—Ä–∞–≤–∏–ª—å–Ω–æ–µ —Ä–µ—à–µ–Ω–∏–µ!

</div>

---

## –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö

–û—Ç—Ñ–∏–ª—å—Ç—Ä—É–µ–º –¥–∞–Ω–Ω—ã–µ –∑–∞ –∏–Ω—Ç–µ—Ä–µ—Å—É—é—â–∏–π –ø–µ—Ä–∏–æ–¥ —Å 2000 –ø–æ 2013 –≥–æ–¥ –≤–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ –∏ —Å–æ—Ö—Ä–∞–Ω–∏–º –Ω–æ–≤—ã–π —Å—Ä–µ–∑ –¥–∞–Ω–Ω—ã—Ö –≤ –æ—Ç–¥–µ–ª—å–Ω–æ–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ `df_actual`. –í—ã–≤–µ–¥–µ–º –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –Ω–æ–≤–æ–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ.

In [28]:
df_actual = df[(df['year_of_release'] >= 2000) & (df['year_of_release'] <= 2013)]
df_actual.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12778 entries, 0 to 16954
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             12778 non-null  object
 1   platform         12778 non-null  object
 2   year_of_release  12778 non-null  int64
 3   genre            12778 non-null  object
 4   na_sales         12778 non-null  float64
 5   eu_sales         12778 non-null  float64
 6   jp_sales         12778 non-null  float64
 7   other_sales      12778 non-null  float64
 8   critic_score     12778 non-null  object
 9   user_score       12778 non-null  object
 10  rating           12778 non-null  object
dtypes: float64(4), int64(1), object(6)
memory usage: 1.2+ MB

<div class="alert alert-success"; style="border-left: 7px solid green">
<h5> ‚úîÔ∏è <font color="green">–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ (–∑–µ–ª–µ–Ω—ã–π)</font></h5>

–°–ø–∞—Å–∏–±–æ, –≤–µ—Ä–Ω–æ —Å–¥–µ–ª–∞–Ω–∞ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö

</div>

---

## –ö–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö
    
–†–∞–∑–¥–µ–ª–∏–º –≤—Å–µ –∏–≥—Ä—ã –ø–æ –æ—Ü–µ–Ω–∫–∞–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∏ –≤—ã–¥–µ–ª–∏–º —Ç–∞–∫–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏: –≤—ã—Å–æ–∫–∞—è –æ—Ü–µ–Ω–∫–∞ (–æ—Ç 8 –¥–æ 10 –≤–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ), —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ (–æ—Ç 3 –¥–æ 8, –Ω–µ –≤–∫–ª—é—á–∞—è –ø—Ä–∞–≤—É—é –≥—Ä–∞–Ω–∏—Ü—É –∏–Ω—Ç–µ—Ä–≤–∞–ª–∞) –∏ –Ω–∏–∑–∫–∞—è –æ—Ü–µ–Ω–∫–∞ (–æ—Ç 0 –¥–æ 3, –Ω–µ –≤–∫–ª—é—á–∞—è –ø—Ä–∞–≤—É—é –≥—Ä–∞–Ω–∏—Ü—É –∏–Ω—Ç–µ—Ä–≤–∞–ª–∞).

In [37]:

def categorize_user_score(score):
    if score == "not specified":
        return "unknown score"
    try:
        score_float = float(score)
        if 0 <= score_float < 3:
            return "low score"
        elif 3 <= score_float < 8:
            return "medium score"
        elif 8 <= score_float <= 10:
            return "high score"
        else:
            return "incorrect score"  # –ï—Å–ª–∏ –∑–Ω–∞—á–µ–Ω–∏–µ –≤—ã—Ö–æ–¥–∏—Ç –∑–∞ –≥—Ä–∞–Ω–∏—Ü—ã 0-10
    except ValueError:
        return "incorrect score"  # –ï—Å–ª–∏ –∑–Ω–∞—á–µ–Ω–∏–µ –Ω–µ —á–∏—Å–ª–æ –∏ –Ω–µ "not specified"
# –°–æ–∑–¥–∞–µ–º –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü —Å –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º–∏
df_actual.loc[:, 'user_score_category'] = df_actual.loc[:, 'user_score'].apply(categorize_user_score)

<div class="alert alert-success"; style="border-left: 7px solid green">
<h5> ‚úîÔ∏è <font color="green">–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ (–∑–µ–ª–µ–Ω—ã–π)</font></h5>

–°—É–ø–µ—Ä, –≤–µ—Ä–Ω–æ –ø—Ä–∏–º–µ–Ω–µ–Ω `.apply()`

</div>

–†–∞–∑–¥–µ–ª–∏–º –≤—Å–µ –∏–≥—Ä—ã –ø–æ –æ—Ü–µ–Ω–∫–∞–º –∫—Ä–∏—Ç–∏–∫–æ–≤ –∏ –≤—ã–¥–µ–ª–∏–º —Ç–∞–∫–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏: –≤—ã—Å–æ–∫–∞—è –æ—Ü–µ–Ω–∫–∞ (–æ—Ç 80 –¥–æ 100 –≤–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ), —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ (–æ—Ç 30 –¥–æ 80, –Ω–µ –≤–∫–ª—é—á–∞—è –ø—Ä–∞–≤—É—é –≥—Ä–∞–Ω–∏—Ü—É –∏–Ω—Ç–µ—Ä–≤–∞–ª–∞) –∏ –Ω–∏–∑–∫–∞—è –æ—Ü–µ–Ω–∫–∞ (–æ—Ç 0 –¥–æ 30, –Ω–µ –≤–∫–ª—é—á–∞—è –ø—Ä–∞–≤—É—é –≥—Ä–∞–Ω–∏—Ü—É –∏–Ω—Ç–µ—Ä–≤–∞–ª–∞).

In [38]:
def categorize_critic_score(score):
    if score == "not specified":
        return "unknown score"
    try:
        score_float = float(score)
        if 0 <= score_float < 30:
            return "low score"
        elif 30 <= score_float < 80:
            return "medium score"
        elif 80 <= score_float <= 100:
            return "high score"
        else:
            return "incorrect score"  # –ï—Å–ª–∏ –∑–Ω–∞—á–µ–Ω–∏–µ –≤—ã—Ö–æ–¥–∏—Ç –∑–∞ –≥—Ä–∞–Ω–∏—Ü—ã 0-10
    except ValueError:
        return "incorrect score"  # –ï—Å–ª–∏ –∑–Ω–∞—á–µ–Ω–∏–µ –Ω–µ —á–∏—Å–ª–æ –∏ –Ω–µ "not specified"
# –°–æ–∑–¥–∞–µ–º –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü —Å –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º–∏
df_actual.loc[:, 'critic_score_category'] = df_actual.loc[:, 'critic_score'].apply(categorize_critic_score)

–ü—Ä–æ–≤–µ—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –¥–æ–±–∞–≤–ª–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–æ–≤ —Å –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º–∏ –≤—ã–≤–æ–¥–æ–º 5 —Å—Ç—Ä–æ–∫ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞.

In [31]:
df_actual.head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating,user_score_category,critic_score_category
0,wii sports,Wii,2006,sports,41.36,28.96,3.77,8.45,76.0,8,E,high score,medium score
2,mario kart wii,Wii,2008,racing,15.68,12.76,3.79,3.29,82.0,8.3,E,high score,high score
3,wii sports resort,Wii,2009,sports,15.61,10.93,3.28,2.95,80.0,8,E,high score,high score
6,new super mario bros.,DS,2006,platform,11.28,9.14,6.50,2.88,89.0,8.5,E,high score,high score
7,wii play,Wii,2006,misc,13.96,9.18,2.93,2.84,58.0,6.6,E,medium score,medium score

–°–≥—Ä—É–ø–ø–∏—Ä—É–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ –≤—ã–¥–µ–ª–µ–Ω–Ω—ã–º –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º –∏ –ø–æ—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∏–≥—Ä –≤ –∫–∞–∂–¥–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏.

In [32]:
df_actual.groupby(['user_score_category', 'critic_score_category'])['name'].count().reset_index().rename(columns={'name': 'game_count'})

   user_score_category critic_score_category  game_count
0           high score            high score        1015
1           high score       incorrect score         101
2           high score             low score           1
3           high score          medium score        1167
4      incorrect score            high score          33
5      incorrect score       incorrect score        5237
6      incorrect score             low score           7
7      incorrect score          medium score        1021
8            low score            high score           1
9            low score       incorrect score          21
10           low score             low score          17
11           low score          medium score          77
12        medium score            high score         640
13        medium score       incorrect score         253
14        medium score             low score          30
15        medium score          medium score        3157

<div class="alert alert-success"; style="border-left: 7px solid green">
<h5> ‚úîÔ∏è <font color="green">–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ (–∑–µ–ª–µ–Ω—ã–π)</font></h5>

–î–∞, –≤–µ—Ä–Ω–æ –≤—ã–¥–µ–ª–µ–Ω—ã –∫–∞—Ç–µ–≥–æ—Ä–∏–∏.

</div>

–í—ã–¥–µ–ª–∏–º —Ç–æ–ø-7 –ø–ª–∞—Ç—Ñ–æ—Ä–º –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –∏–≥—Ä, –≤—ã–ø—É—â–µ–Ω–Ω—ã—Ö –∑–∞ –≤–µ—Å—å –∞–∫—Ç—É–∞–ª—å–Ω—ã–π –ø–µ—Ä–∏–æ–¥.

In [33]:
top_platforms = (df_actual
                 .groupby('platform')['name']
                 .count().sort_values(ascending=False)
                 .reset_index()
                 .rename(columns={'name': 'game_count'}))
top_platforms.head(7)

  platform  game_count
0      PS2        2127
1       DS        2120
2      Wii        1275
3      PSP        1180
4     X360        1120
5      PS3        1086
6      GBA         811

<div class="alert alert-success"; style="border-left: 7px solid green">
<h5> ‚úîÔ∏è <font color="green">–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ (–∑–µ–ª–µ–Ω—ã–π)</font></h5>

–û—Ç–ª–∏—á–Ω–æ, –≤–µ—Ä–Ω–æ —Å–æ–∑–¥–∞–Ω –Ω–æ–≤—ã–π DF.

</div>

---

## –ò—Ç–æ–≥–æ–≤—ã–π –≤—ã–≤–æ–¥

–í –∫–æ–Ω—Ü–µ –Ω–∞–ø–∏—à–∏—Ç–µ –æ—Å–Ω–æ–≤–Ω–æ–π –≤—ã–≤–æ–¥ –∏ –æ—Ç—Ä–∞–∑–∏—Ç–µ, –∫–∞–∫—É—é —Ä–∞–±–æ—Ç—É –ø—Ä–æ–¥–µ–ª–∞–ª–∏. –ù–µ –∑–∞–±—É–¥—å—Ç–µ —É–∫–∞–∑–∞—Ç—å –æ–ø–∏—Å–∞–Ω–∏–µ —Å—Ä–µ–∑–∞ –¥–∞–Ω–Ω—ã—Ö –∏ –Ω–æ–≤—ã—Ö –ø–æ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –¥–æ–±–∞–≤–∏–ª–∏ –≤ –∏—Å—Ö–æ–¥–Ω—ã–π –¥–∞—Ç–∞—Å–µ—Ç.

–ò—Ç–æ–≥–æ–≤—ã–π –≤—ã–≤–æ–¥ —Å—Ñ–æ—Ä–º–∏—Ä—É—é –Ω–∞ –æ—Å–Ω–æ–≤–µ –ø—Ä–∞–≤–æ–∫ –ø–æ –æ—Å–Ω–æ–≤–Ω–æ–π —á–∞—Å—Ç–∏